<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/client/header.css}" />
  </head>
  <body>

  <header class="header">
    <a th:href="@{/}">
      <h2 class="title">
        <img class="logo" th:src="@{/image/logo.png}" />
        <span>Caffein</span>
      </h2>
    </a>
    <nav class="gnb">
      <ul>
        <li sec:authorize="!hasAnyRole('ADMIN', 'CAFE_OWNER', 'MEMBER')"><a th:href="@{/register}">회원가입</a></li>
        <li sec:authorize="!hasAnyRole('ADMIN', 'CAFE_OWNER', 'MEMBER')"><a th:href="@{/login}">로그인</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'CAFE_OWNER', 'MEMBER')"><a th:href="@{/logout}">로그아웃</a></li>
        <li><a th:href="@{/cafe}">카페추천리스트</a></li>
        <li><a th:href="@{/notice}">공지사항</a></li>
      </ul>
    </nav>
  </header>

  <section class="section">
    <th:block th:replace="${content}"></th:block>
  </section>

  </body>
</th:block>
</html>