<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/admin :: setContent(~{this :: content} )}">
  <th:block th:fragment="content">
    <h1>회원 상세보기</h1>
    <table class="view">
      <tbody>
        <tr>
          <th>회원 고유번호</th>
          <td>[[${dto.memberId}]]</td>
        </tr>
        <tr>
          <th>이메일</th>
          <td>[[${dto.email}]]</td>
        </tr>
        <tr>
          <th>닉네임</th>
          <td>[[${dto.nickname}]]</td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>[[${dto.tel}]]</td>
        </tr>
        <tr>
          <th>성별</th>
          <td>[[${dto.sex}]]</td>
        </tr>
        <tr>
          <th>나이대</th>
          <td>[[${dto.age}]]</td>
        </tr>
        <tr>
          <th>등급</th>
          <td>[[${dto.auth}]]</td>
        </tr>
        <tr>
          <th>등록일</th>
          <td>[[${#temporals.format(dto.rDate, 'yyyy/MM/dd HH:mm:ss')}]]</td>
        </tr>
        <tr>
          <th>수정일</th>
          <td>[[${#temporals.format(dto.mDate, 'yyyy/MM/dd HH:mm:ss')}]]</td>
        </tr>
      </tbody>
    </table>
    <div class="btnBox">
      <a th:href="@{/admin/member/modify(memberId = ${dto.memberId}, page = ${requestDTO.page})}">
        <button type="button">수정하기</button>
      </a>
      <a th:href="@{/admin/member/list(page = ${requestDTO.page})}">
        <button type="button">회원 목록으로 돌아가기</button>
      </a>
    </div>
  </th:block>
</th:block>
</html>